<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songbo.dicshop.mapper.DsAuctionMapper">

    <select id="getListByStatus" resultType="com.songbo.dicshop.entity.DsAuction">
        select a.*
        from ds_auction a
        where a.ds_auction_status = #{status}
    </select>
    <select id="getByIdAndStatus" resultType="com.songbo.dicshop.entity.DsAuction">
        select *
        from ds_auction a
        where a.ds_auction_id = #{id}
        and a.ds_auction_status = #{status}
    </select>
    <select id="getListByUserId" resultType="com.songbo.dicshop.entity.DsAuction">
        select *
        from ds_auction a
        join ds_auction_info i
        on a.ds_auction_id = i.ds_auction_info_auction_id
        and ds_auction_info_user_id = #{id}
    </select>


</mapper>
