<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songbo.dicshop.mapper.DsGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.songbo.dicshop.entity.DsGoods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ds_goods_id" property="dsGoodsId" jdbcType="INTEGER" />
    <result column="ds_goods_name" property="dsGoodsName" jdbcType="VARCHAR" />
    <result column="ds_goods_info" property="dsGoodsInfo" jdbcType="CHAR" />
    <result column="ds_goods_Message" property="dsGoodsMessage" jdbcType="CHAR" />
    <result column="ds_goods_status" property="dsGoodsStatus" jdbcType="INTEGER" />
  </resultMap>
    <select id="getGoodsInfoById" resultType="com.songbo.dicshop.entity.DsGoods">
      select g.*
      from ds_goods g
      where g.ds_goods_status>0
      and g.ds_goods_id = #{id}
    </select>
    <select id="getGoodsByName" resultType="com.songbo.dicshop.entity.DsGoods">
      select g.*
      from ds_goods g
      where g.ds_goods_name = #{name}
    </select>
    <select id="getByAuctionInfoId" resultType="com.songbo.dicshop.entity.DsGoods">
     select g.*
      from ds_goods g
      where g.ds_goods_id = (
          select a.ds_auction_goods_id
          from ds_auction a
          where a.ds_auction_id = (
              select i.ds_auction_info_auction_id
              from ds_auction_info i
              where i.ds_auction_info_id = #{id}
              )
          )
    </select>
</mapper>